<h1>Shopping Cart</h1>
<ng-container>
  <p>
    You have {{ shoppingCartItemCount }} item(s) in your shopping cart.
    <button *ngIf="btnCheck" (click)="clearCart()" class="btn btn-light btn-sm" style="float: right;">Clear Shopping Cart</button>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center">Quantity</th>
        <th>Price per Unit</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products | async">
        <td><div [style.backgroundImage]="'url(' + p.product.imageUrl + ')'" class="thumbnail"></div></td>
        <td style="width: 35%;">{{ p.product.title }}</td>
        <td class="text-center" style="width: 25%; padding-left: 60px; padding-right: 60px;">
          <button (click)="removeFromCart(p)" class="btn btn-secondary" style="float: left;">-</button>
          {{ p.quantity }}
          <button (click)="addToCart(p)" class="btn btn-secondary" style="float: right;">+</button>
        </td>
        <td style="width: 20%;">{{ p.product.price | currency:'USD':true }}</td>
        <td style="width: 20%;">{{ p.product.price * p.quantity | currency:'USD':true }}</td>
        <td><button (click)="removeItemFromCart(p)" class="btn btn-danger btn-sm">Delete</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Total:</th>
        <th>{{ totalPrice | currency:'USD':true }}</th>
      </tr>
    </tfoot>
  </table>
  <a routerLink="/check-out" *ngIf="btnCheck" class="btn btn-primary" style="color:white;">Check Out</a>
</ng-container>