<div class="jumbotron">
  <img [src]="product.imageUrl" alt="product.title" class="card-img-top">
  <h1 class="display-4" style="margin-top: 30px;">{{ product.title }}</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>This item is of {{ product.category }} category.</p>
  <p>The cost for this item is <strong>{{ product.price | currency:'USD':true }}</strong> per unit.</p>
  <button class="btn btn-primary btn-lg" (click)="goBack()">Go Back</button>
</div>