.heading {
    font-family: Bradley Hand ITC, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

.homeBtn {
    text-align: center;
    margin-top: 50px;
}